.navLink{
  text-decoration: none;
  margin-right: 10px;
  color: white;
  transition: 0.5s;
}
.bg-body-tertiary {
  background-color: black !important;
}
.navLink:hover {
  color: red;
}
body {
  background-color: black !important;
  color: white;
}
.home {
  position: relative;
}